{% extends "base.html" %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Football Recommender</h1>
      <div class="row center">
        <h5 class="header col s12 light">Watch the best game. Always.</h5>
      </div>
      <div class="row center">
        <a href="login/" class="btn">Login</a>
        <a href="register/" class="btn">Register</a>
      </div>
      <div class="row center">
        <a href="demo/" class="btn">Demo</a>
      </div>
      <!--
      <div class="row center">
        <a href="/login" id="download-button" class="btn-large waves-effect waves-light orange">Login</a>
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light orange">Register</a>
      </div>
      -->
      <br><br>
    </div>
  </div>
{% endblock content %}
